@import url('../styles.css');
body { background-attachment: fixed; }
nav a { color: #b1bfd0; }
nav a:hover, nav a.desktop-nav-active { color: #fff; }
nav a { padding: .5rem .7rem; border-radius: .6rem; }
@media (max-width: 860px) { header nav { display: flex !important; flex-wrap: wrap; } }